#index{
    .btn-generic{
        background: transparent;
        padding: 5px 30px;
        border:2px solid var(--cor-destaque-button);
        border-radius: 3px;
        color:var(--cor-destaque-button);
        font-weight: 600;
        transition: all 0.5s ease-in-out;
    }
    .btn-generic:hover{
        background: var(--cor-destaque-button);
        color: white;
    }
    header{
        width: 100%;
        height: 100vh;
        z-index: 1;
            .header-content{
                max-width:500px ;
                width: 100%;
                h1{
                    font-size: 70px;
                }
                h2{
                    font-size: 40px;  
                }
                h1,h2{
                    font-family: var(--font);
                    color: var(--cor-destaque-text);
                    font-weight: 700;
                }
                
     
            }
        .arrow{
            position: absolute;
            width:270px;
            text-align: center;
            transform: rotate(100deg);
            bottom: 50px;
        }
    }
    .forma{
        position: absolute;
        width: 500px;
        height: 500px;
        
        
    
        
        border-radius: 50%;
        z-index: -2;
        overflow: hidden;
    }
    .forma-top{
        top:-150px;
        left:-250px;
        background: #D9043D;
    }
    .forma-bot{
        bottom:-40px;
        right:-250px;
        background: #2E97F2;
        
    }
    canvas{
        border:1px solid black;
    }
}







