body{
    width: 100%;
    height: 100vh;
    
    background: var(--fundo);
    
}
.light-theme{
    --fundo:rgb(255, 255, 255);
    --aside:#E0E2E3;
    --destaque:#c28ff1;
    --font:#131313;
    --font-ativa:white;
    --color-border:black;
}
.dark-theme{
    --fundo:#131313;
    --aside:#222222;
    --destaque:#C21330;
    --font:white;
    --font-ativa:white;
    --color-border:#a5112a;
}
.active{
    --tamanho-aside:200px;
}

.disable{
    --tamanho-aside:70px;
}
.navBody{
    position: fixed;
    z-index: 3;
    height: 50px;
    background: var(--aside);
    width: 100%;
    padding-inline: 2%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border:solid 2px var(--color-border);
    border-left: none;
    border-right: none;
    border-top: none;
}


h1,h2,h2,p,a,ion-icon{
    color:var(--font);
}


/* ============= */



aside.active{
 
    position: fixed;
    background: var(--aside);
    height: 100vh;
    width: var(--tamanho-aside);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    z-index: 2;
    border:solid 2px var(--color-border);
    border-left: none;
    border-top: none;

    z-index: 2;

}
/* -===================== */



aside.active .icon{
    width: 20px;
    height: 20px;


}



aside.active .menu{
    margin-top: 50px;
    height: 40px;
    border-radius: 50%;
    width: 40px;
    background: #000;
}

aside.active .aside-content{
    width: 100%;
    height: 100%;
    position: relative;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    display: flex;
    margin-top: 20px;
}



aside.active nav{
    width: var(--tamanho-aside);
    margin-top: 60px;
}
aside.active nav ul{
    width: 100%;

    list-style: none;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    
} 
 aside.active nav ul li{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
 }
aside.active nav ul li a, #trocarTema{
    text-decoration: none;
    color: var(--font);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  

}
aside.active nav ul li .icon{
    margin-inline: 20px;
    
}
aside.active nav ul .ativa  {
    width: 95%;
    background: var(--destaque);
    padding-block:7px ;
    border-radius: 0px 30px 30px 0px;

}
aside.active nav ul .ativa a {
    color: var(--font);
}

#sair{
    position: absolute;
    bottom: 50px;
    color: var(--font);
    display: flex;
    gap: 10px;
}

.menu{

    width: 30px;
    height: 30px;
    display: none;
    cursor: pointer;
    z-index: 1000000;
    color: var(--font);
}

@media (max-width:1300px) {
    aside.active{
        display: none;
    }
    .menu{
        display: block;
    }
    #search{
        display:none;
    }
}

.menu-aberto{
      position: absolute;
      background: var(--aside);
      
}
.menu-aberto aside{
    display:block;
    z-index: 5;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.menu-aberto main{
    display:none;
}
.menu-aberto  .navBody{
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 9;
}
.menu-aberto aside.active nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.menu-aberto aside.active nav ul{
    font-size: 20px;
    z-index: 10;
}
.menu-aberto aside.active nav ul .ativa{
     
        width: 100%;
        background: var(--destaque);
        padding-block:7px ;
        border-radius: 30px;

}
.menu-aberto .navBody .menu{
    display: block;

}
/* ============================ Main ============================== */


main{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    right: 0;
    
}
main .main-tutorial-content {
    position: relative;
    margin-top: 70px;
    width: 100%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
main .main-tutorial-content h2{
    text-align: center;

    color: var(--font);
    font-size: 45px;
    font-weight: 700;
    max-width: 100%;
}
main .main-tutorial-content .tutorial{

    min-height: 400px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}

.main-tutorial-content .tutorial .box{
position: relative;
    color: var(--font);
    max-width: 300px;
    min-width: 250px;
    width: 290px;
    min-height: 210px;
  
    padding:1%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1;
}
.light-theme .main-tutorial-content .tutorial .box{
    border-radius: 5px;
background: #ffffff;
box-shadow:  10px 10px 20px #d9d9d97a,
             -10px -10px 20px #ffffff;
}
.dark-theme .main-tutorial-content .tutorial .box{
    border-radius: 5px;
    background: #131313;
    box-shadow:  10px 10px 20px #101010,
                 -10px -10px 20px #161616;
}
.main-tutorial-content .tutorial .box .text-hover{
    padding:10px;
    position: absolute;
    opacity: 0;
}
.main-tutorial-content .tutorial .box.ativa .text-hover{
    opacity: 1;

}
.main-tutorial-content .tutorial .box h4 {
    width: 100%;
    height: 100%;
    font-size: 35px;
    font-weight: 600;
    opacity: 1;
}
.main-tutorial-content .tutorial .box.ativa h4{
    opacity: 0;
}
.aplicacao{
    max-width: 400px;
    width: 100%;
    text-align: justify;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-inline: auto;
}
