@font-face {
    font-family: "Kabouter";
    src: url(fonts/Kabouter.otf);
 }

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    
}
:root{
    --cor-destaque-text:#382F73;
    --cor-destaque-button:#382F73;
    --cor-destaque1:#382F73;
    --font:Kabouter , cursive;
}

p{
    font-family: 'Poppins', cursive;
}
body{
  
    overflow-x:hidden;
    position: relative;
    
}
#areaProfessor{
    h1,h2,h3,h4,h5{
        font-family: var(--font);
    }
    p,a{
        font-family: 'Poppins', cursive;
    }
}
@import "navInicial";
@import "PGInicial";
@import "main-inicial";
@import "login";
// @import "areaProfessor";