
.main-inicio{
    h1{
        font-size: 100px;
    }
    h2{
        font-size: 40px;  
    }
    h1,h2{
        font-family: var(--font);
        color: var(--cor-destaque-text);
        font-weight: 700;
    }

}