#index{

    header{
        width: 100%;
        height: 100vh;
        z-index: 1;
            .header-content{
                max-width:550px ;
                width: 100%;
                h1{
                    font-size: 100px;
                }
                h2{
                    font-size: 40px;  
                }
                h1,h2{
                    font-family: var(--font);
                    color: var(--cor-destaque-text);
                    font-weight: 700;
                }
                p{
                    font-size: 18px;
                }
     
            }
        .arrow{
            position: absolute;
            width:270px;
            text-align: center;
            transform: rotate(100deg);
            bottom: 50px;
        }
    }
    .forma{
        position: absolute;
        width: 500px;
        height: 500px;
        
        
    
        
        border-radius: 50%;
        z-index: -2;
    }
    .forma-top{
        top:-150px;
        left:-250px;
        background: #D9043D;
    }
    .forma-bot{
        bottom:-40px;
        right:-250px;
        background: #2E97F2;
        
    }

}







